<% @restaurants.each do |restaurant| %>
    <%= render restaurant %>
    <p>
      <%= link_to "Show this restaurant", restaurant %>
    </p>
<% end %>

<%= link_to "Create new restaurant", new_restaurant_path  %>