<%= render @restaurant %>

<%= link_to "Add a review", new_restaurant_review_path(params[:id])  %>
<ul>
<% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">
      <%= review.content%>
    </li>
<% end %>
</ul>

<%= link_to "Return to all restaurants list", restaurants_path  %>